/*Identifying specific ID with #*/


body {
  font-family: 'Raleway', 'helvetica neue', arial, sans-serif;
  font-weight: 300;
}


h1 {
	font-size: 50px;
	font-weight: bold;
	color: blue;
}


h3 {
	font-weight: bold;
}

h5{
	line-height: 25px;
}




.jumbotron {
  background: url(images/skyline.jpg);
  background-size: cover;
  height: 300px;
  color: white;
}

#tagline {
	color: #3399FF;
	font-size: 30px;

}